body{
   
}
.solzin{
	width: 65px;
	height: 65px;
}
.cabecalho{
	background-color: #000000;
	padding-right: 40px;
	 display: flex;
	 justify-content: space-around;
}
.titulo{
	padding-top: 30px;
	color: #E8C7FF;
}
.robotica{
	padding-top: 30px;
	color: #f0f0f0;
	font-style: italic;
}
a{
	text-decoration: none;
}
.banner{
    background-image: linear-gradient(#000000,#4b4b4b)
}
.banner-titulo{
    padding-top: 15px;
    padding-left: 20px;
    color: #E8C7FF;
    font-style: italic;
}
.banner-texto{
   display: flex;
   justify-content: space-around;
   padding: 10px;
   color: #ffffff;
}
.projetos{
    background-image: linear-gradient(#4b4b4b,#000000)
}
.titulo-projetos{
   padding-top: 27px;
   padding-left: 20px;
   color:#E8C7FF;
   font-style: italic; 
}
.texto-foto1-projetos{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: #ffffff;
}
.nao-clique{


}
