body{
   
}
.solzin{
	width: 65px;
	height: 65px;
}
.cabecalho{
	background-color: #000000;
	padding-right: 40px;
	 display: flex;
	 justify-content: space-around;
}
.titulo{
	padding-top: 30px;
	color: #E8C7FF;
}
.robotica{
	padding-top: 30px;
	color: #f0f0f0;
	font-style: italic;
}
a{
	text-decoration: none;
}
.banner{
    background-image: -o-linear-gradient(#000000,#868686);
}
.banner-titulo{
    padding-left: 20px;
    color: #E8C7FF;
    font-style: italic;
}
.banner-texto{
   display: flex;
   justify-content: space-around;
   padding: 10px;
}
